
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/layout.css">
    
</head>
<body>
    
  
    <div id="nav">NAVIGATION</div>
    <%- body %>
    <div id="footer">FOOTER</div>
    </body>
</html>


